In [1]:
import csv
import numpy as np
import pandas as pd

data  = pd.read_csv('fortune500-1.csv')
data.head()

   Year  Rank           Company  Revenue Profit
0  1955   1.0    General Motors   9823.5    806
1  1955   2.0       Exxon Mobil   5661.4  584.8
2  1955   3.0        U.S. Steel   3250.4  195.4
3  1955   4.0  General Electric   2959.1  212.6
4  1955   5.0            Esmark   2510.8   19.1

In [2]:
data.Year.unique()

array(['1955', '1955,149,"Libby, McNeill & Libby",215.4,4.2',
       '1955,272,"Parke, Davis",109.9,10.5',
       '1955,276,"Fairbanks, Morse",108,2.5',
       '1955,407,"American Zinc, Lead & Smelting",64.5,1.8', '1956',
       '1956,134,"Libby, McNeill & Libby",261.9,5.4',
       '1956,272,"Parke, Davis",123.1,14.3',
       '1956,286,"Fairbanks, Morse",111.9,2.7',
       '1956,386,"American Zinc, Lead & Smelting",76.7,2.6', '1957',
       '1957,133,"Libby, McNeill & Libby",292.5,8',
       '1957,275,"Fairbanks, Morse",135,3.9',
       '1957,277,"Parke, Davis",134.1,17.6',
       '1957,409,"American Zinc, Lead & Smelting",76.8,3.2', '1958',
       '1958,139,"Libby, McNeill & Libby",302.7,3.7',
       '1958,254,"Parke, Davis",162.3,27.9',
       '1958,311,"Fairbanks, Morse",120.3,2.6', '1959',
       '1959,139,"Libby, McNeill & Libby",296,2.7',
       '1959,229,"Parke, Davis",172.6,28',
       '1959,376,"Fairbanks, Morse",89.7,0.8', '1960',
       '1960,154,"Libby, McNeill & Libby",296.2,5.8',
       '1960,236,"Parke, Davis",191.5,31', '1961',
       '1961,161,"Libby, McNeill & Libby",294.7,4.2',
       '1961,234,"Parke, Davis",200,30.5', '1962',
       '1962,179,"Libby, McNeill & Libby",270,2.6',
       '1962,251,"Parke, Davis",184.3,22.3', '1963',
       '1963,187,"Libby, McNeill & Libby",286.2,3',
       '1963,270,"Parke, Davis",181.7,19.1', '1964',
       '1964,205,"Libby, McNeill & Libby",276.3,3.1',
       '1964,282,"Parke, Davis",189.2,22.2', '1965',
       '1965,213,"Libby, McNeill & Libby",289.7,6.1',
       '1965,290,"Parke, Davis",204.6,26.2', '1966',
       '1966,230,"Libby, McNeill & Libby",300.7,2.5',
       '1966,296,"Parke, Davis",224.6,32.7',
       '1966,449,"U.S. Smelting, Refining & Mining",125.2,7.2', '1967',
       '1967,246,"Libby, McNeill & Libby",317.6,4',
       '1967,313,"Parke, Davis",239.9,31.8',
       '1967,469,"U.S. Smelting, Refining & Mining",139.1,12.9', '1968',
       '1968,245,"Libby, McNeill & Libby",341.1,4.2',
       '1968,322,"Parke, Davis",239.2,21', '1969',
       '1969,264,"Libby, McNeill & Libby",344.4,5.6',
       '1969,333,"Parke, Davis",251,18.6', '1970',
       '1970,278,"Libby, McNeill & Libby",345.6,-15.1',
       '1970,340,"Parke, Davis",273.5,20.7',
       '1970,463,"U.S. Smelting, Refining & Mining",174.9,21.7', '1971',
       '1971,293,"Libby, McNeill & Libby",350.7,-7.7', '1972',
       '1972,291,"Libby, McNeill & Libby",375.8,12.5', '1973',
       '1973,302,"Libby, McNeill & Libby",407.2,-0.5', '1974',
       '1974,331,"Libby, McNeill & Libby",434.5,8.9', '1975',
       '1975,364,"Libby, McNeill & Libby",464.7,13.5', '1976',
       '1976,357,"Libby, McNeill & Libby",474.8,9.8', '1977',
       '1977,371,"Libby, McNeill & Libby",502.4,3.5', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1995,91,"MediaOne Group, Inc.",11506,1426',
       '1995,310,"HomeBase, Inc.",3650.3,65', '1996',
       '1996,106,"MediaOne Group, Inc.",11746,1317',
       '1996,315,"HomeBase, Inc.",3978.4,73', '1997',
       '1997,102,"MediaOne Group, Inc.",12911,1178',
       '1997,314,"HomeBase, Inc.",4375.5,76.7', '1998',
       '1998,87,"MediaOne Group, Inc.",15352,697', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005'], dtype=object)

In [3]:
data.Year = data.Year.str[:4]
data.Year.unique()

array(['1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005'], dtype=object)

In [5]:
data.Year = data.Year.astype(int)
data.dtypes

Year         int64
Rank       float64
Company     object
Revenue    float64
Profit      object
dtype: object

In [6]:
requisit = data[(data.Year >= 1990) & (data.Year <= 1995)]
requisit

       Year   Rank                  Company   Revenue  Profit
17500  1990    1.0           General Motors  126974.3  4224.3
17501  1990    2.0               Ford Motor   96932.6    3835
17502  1990    3.0              Exxon Mobil   86656.0    3510
17503  1990    4.0  Intl. Business Machines   63438.0    3758
17504  1990    5.0         General Electric   55264.0    3939
...     ...    ...                      ...       ...     ...
20495  1995  496.0     Lutheran Brotherhood    2222.7    66.5
20496  1995  497.0                 MicroAge    2220.8    16.3
20497  1995  498.0             MCI WorldCom    2220.8  -122.2
20498  1995  499.0               First Data    2207.5   160.2
20499  1995  500.0              Dow Corning    2204.6    -6.8

[3000 rows x 5 columns]